<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- font-awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
   
    <!-- owl carouselCnd -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    
    <title>Pizza</title>
</head>
<body>
    <!-- main home section -->
    <section id="main-home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header-top d-flex justify-content-between ">
                    <div class="d-flex justify-content-between px-2">
                        <div class="item px-2">
                            <p>Follow Us:</p>
                        </div>
                        <div class="item px-2">
                            <a href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="item px-2">
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="item px-2">
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="item px-2">
                            <p><i class="fas fa-phone-alt"></i>+975 17529581</p>
                        </div>
                        <div class="item px-2">
                            <p><i class="fas fa-map-marker-alt"></i>Thimphu, Bhutan</p>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 navigation-wrap">
                    <a class="navbar-brand" ><h1><img src="{% static 'images/lo.jpg' %}" height="30" width="30">Oi Pizza<br><strong><i>Delicous</i></strong></a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                           <a class="nav-link" href="/home">Home </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/contact">Contact Us</a>
                          </li>
                           <li class="nav-item">
                            <a class="nav-link" href="/orderpizza">Order</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/booktable">BookTable</a>
                          </li>
                           <li class="nav-item">
                            <a class="nav-link" href="/login">Log-Out</a>
                          </li>
                      </ul>
                    </div>
                  </nav>
            </div>
   
    <!-- Footer -->
    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h1>Reservation<br><span class="color-pink"><small>Book a Table</small></span></h1>
        </div>

  {% for msg in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hey!</strong> {{msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
  <form action="/booktable/" method="POST">
        {% csrf_token %}
  <div class=" form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Your name" required>
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="Your email" required>
     <div class="form-group">
    <label for="exampleFormControlInput1">Contact Number</label>
    <input type="phone" class="form-control" id="exampleFormControlInput1" name="contactNo" placeholder="Enter contact number">
  </div>
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">Date</label>
    <input type="date" class="form-control" id="exampleFormControlInput1" name="date" placeholder="Enter Date" required>
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Time</label>
    <input type="time" class="form-control" id="exampleFormControlInput1" name="time" placeholder="Enter time" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Number of people</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" name="peopleno" placeholder="Enter time" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3" placeholder="Message"></textarea>
  </div>
         <div class="text-center"><button type="submit" class="main-btn mt-3">Book a Table</button></div>
</form>
</div>
</section>     




<div class="footer">
  <hr>
  <footer class="page-footer font-small mdb-color lighten-3 pt-4">
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
  <hr>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i>Thimphu, Bhutan</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope mr-3"></i>pizza45@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> + 0975 17529581</p>
          </li>
        </ul>
        </div>
         <div class="col-md-9 col-lg-9 mx-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">Location</h5>
          <hr>
        <div class="embed-responsive embed-responsive-21by9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d14186.715236600565!2d91.50505651639149!3d27.260601102198187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1syounphula!5e0!3m2!1sen!2sbt!4v1639839818012!5m2!1sen!2sbt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"class="embed-responsive-item"></iframe>
        </div>
        </div>
</div>  
  </footer>
  <!-- Footer -->


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
        <!-- JS Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
</body>
</html>